body.index {
    margin: auto;
    background-color: black;
    width: 90%;
    padding: 10px;
    background-image: url('../img/usfq_old.jpg');
    background-repeat: repeat;
    background-size: 50%;
}

body.sketch {
    margin: auto;
    background-color: black;
}


button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
    margin: 0 auto;
}


a {
    color: rgb(196, 255, 173);
    font-size: 1.25em;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.song {
    color: rgb(247, 252, 139);
    font-size: 1.25em;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

img {
    padding-top: 5px;
    max-width: 100%;
}

.content {
    max-width: 50%;
    margin: auto;
}