<head>
    <link rel="stylesheet" href="./css/output.css">
</head>

<footer class="w-full sticky top-[100vh] border-t bg-black pb-4 text-white ">
    <div class="w-full container mx-auto flex flex-col items-center">
        <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
            <a href="/index.html" class="uppercase px-3">Home</a>
            <a href="https://github.com/linomp/pointless" class="uppercase px-3" target="_blank">Source</a>
            <a href="https://www.youtube.com/@thisaintmyrealname1/featured" class="uppercase px-3"
                target="_blank">videos</a>
        </div>
        <div class="lowercase pb-6">&copy; 2024 // p o i n t l e s s</div>
    </div>
</footer>